/** Global *******************************************/
*{
	all: unset;

    border-radius: 12px;
	font-family: feather;
	font-family: "JetBrains Mono";
	font-size : 14px;
    margin: 0px 0px 0px 0px;
}


/** Sound Menu ***********************************/
.dockbox {
	background-color: #2c2c2c; 
	border: 1px solid #5C5C5C;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.sliderbox scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #2C2C2C;
  border-radius: 10px;
}
.sliderbox scale trough {
  all: unset;
  background-color: #5C5C5C;
  border-radius: 50px;
  min-height: 5px;
  min-width: 190px;
  margin-left: 15px;
}
.infotext{
  margin-left: 15px;
}

/** EOF *************************************************/
