/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #FFFFFF;
}

/** Bar ***********************************/
.dockbox {
	background-color: #2c2c2c; 
	border: 0px solid #b1c1a1;
	padding: 0px 10px 0px 10px;
}

tooltip.background{
    background-color: #2c2c2c;
}
/** Icons ***********************************/
.starticon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
    margin: 1px 5px 0px 0px;
}

.wsicon {
    background-repeat: no-repeat;
	background-size: 15px;
	min-height: 18px;
	min-width: 15px;
	margin: 4px 0px 0px 0px;
}

.genicon {
    background-repeat: no-repeat;
	margin: 0px 10px 0px 0px;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
	margin: 1px 5px 0px 0px;
}

.trayicon {
    background-repeat: no-repeat;
    background-color: #5c5c5c;
    border-radius: 12px;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
	margin: 2px 0px 0px 0px;
}
/** Clock ********************************************/
.clockbox {
	margin : 0px 0px 0px 0px;
}

.time {
	font-size : 14px;
	font-weight : normal;
	margin : 1px 5px 0px 5px;
}

.date {
	font-size : 14px;
	font-weight : bold;
	margin : 1px 0px 0px 0px;
}


/** System *************************************************/
.sliderbox scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #2C2C2C;
  border-radius: 5px;
}
.sliderbox scale trough {
  all: unset;
  background-color: #2c2c2c;
  border-radius: 12px;
  min-height: 10px;
  min-width: 150px;
  margin-left: 25px;
  margin-right: 5px;
}

.mails {
	background-color: #FFC8C8;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
}

.infotext {
    background-color: #5c5c5c;
	border: 0px solid #161616;
	border-radius: 12px;
	font-size : 14px;
	padding: 0px 0px 0px 0px;
	margin: 0px 6px 0px 25px;
	font-weight : normal;
}

.face {
	background-size: 24px;
	min-height: 0px;
	min-width: 24px;
	margin: 0px 0px 0px 0px;
	border-radius: 0%;
}

/** EOF *************************************************/
