/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #2C2C2C;
}

/** Boxes ***********************************/
.winbox {
	background-color: #2C2C2C;
	border: 1px solid #5C5C5C;
	border-radius: 12px;
}

/** Power Buttons ***********************************/
.powericons {
    background-repeat: no-repeat;
	background-size: 30px;
	min-height: 30px;
	min-width: 30px;
}
/** EOF *************************************************/
