/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fga;
	font:				 	"JetBrains Mono 10";
}

window {
    width:      			200px;
    padding:    			15px;
    border:					0px 0px 0px 0px;
    border-radius:          0px;
    border-color:           @ac;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
