/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}


/** WiFi Menu ***********************************/
.wifibox {
	background-color: #2C2C2C;
	border: 1px solid #5C5C5C;
	border-radius: 12px;
    margin: 0px 0px 0px 0px;
}

.connected{
    background-color: #2C2C2C;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}

.wifibutton {
	background-color: #2C2C2C;
	border: 0px solid #5C5C5C;
	border-radius: 12px;
    margin: 0px 0px 0px 0px;
}

.ssid{
	background-color: #2C2C2C;
    margin: 5px 5px 5px 5px;
}

.infotext {
	background-color: #5C5C5C;
	border: 2px solid #5C5C5C;
    margin: 0px 0px 0px 0px;
}

/** Password Prompt ***********************************/

.passwordbox {
	background-color: #5C5C5C;
	border: 2px solid #5C5C5C;
    margin: 0px 0px 0px 0px;
}

/** EOF *************************************************/
