/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #FFFFFF;
}

/** Bar ***********************************/
.dockbox {
	background-color: #2C2C2C;
	border: 0px solid #2C2C2C;
	border-radius: 12px;
}

/** Icons ***********************************/
.genicon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
}

.workspace {
	background-color: #fd6b85;
	color: #ffffff;
	border: 0px solid #161616;
	border-radius: 12px;
	font-size : 12px;
	padding: 0px 6px 0px 5px;
	margin: 2px 0px 0px -5px;
	font-weight : bold;
}

/** Clock ********************************************/
.clockbox {
	margin : 0px 0px 0px 0px;
}

.time {
	font-size : 14px;
	font-weight : bold;
	margin : 1px 0px 0px 0px;
}

.date {
	font-size : 14px;
	font-weight : bold;
	margin : 1px 0px 0px 0px;
}

/** Weather ********************************************/
.weatherbox {
	margin : 0px 15px 0px 0px;
}

.weatherstat{
	font-size : 14px;
	font-weight : normal;
	margin : 1px 10px 0px 0px;
}

.weathericon {
	font-family: Iosevka Nerd Font;
	font-size : 20px;
	font-weight : normal;
    margin : 0px 0px 0px 0px;
}

.weathertemp {
	font-size : 14px;
	font-weight : bold;
	margin : 1px 0px 0px -10px;
}

/** Music *************************************************/
.album_art {
    background-repeat: no-repeat;
	background-size: 0px;
	min-height: 0px;
	min-width: 0px;
	margin: 0px;
	border-radius: 0px;
}

.musicbox {
	margin : 0px 0px 0px 0px;
}

.song {
	font-size : 14px;
	font-weight : normal;
	margin : 1px 0px 0px 0px;
}

.artist {
	font-size : 14px;
	font-weight : normal;
}

.musicbuttons {
	margin : 0px 10px 0px 10px;
}

.playbutton {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
	margin: 1px 10px 0px 10px;
}

.trackbutton {
    background-repeat: no-repeat;
	background-size: 16px;
	min-height: 16px;
	min-width: 16px;
	margin: 3px 0px 0px 0px;
}

/** System *************************************************/
.mails {
	background-color: #FFC8C8;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
}

.trayicon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
	margin: 1px 0px 0px 0px;;
}

.infotext {
	background-color: #2C2C2C;
	border: 0px solid #161616;
	border-radius: 0px;
	font-size : 14px;
	padding: 0px 0px 0px 0px;
	margin: 1px 0px 0px 0px;;
	font-weight : normal;
}

.face {
	background-size: 24px;
	min-height: 0px;
	min-width: 24px;
	margin: 0px 0px 0px 0px;
	border-radius: 0%;
}

/** EOF *************************************************/
